{% extends "base.html" %}
{% block title %}Archives{% endblock %}
{% block description %}{% endblock %}

{% include 'common_seo.html' %}

{% block content %}
<div class="uk-width-medium-4-5">
    <h1 class="uk-heading-large">Archives</h1>

    {% for article in dates %}
    <article class="uk-article">
        <a href="{{ article.url }}" class="uk-article-title uk-link-muted mg-list-title">
            {{ article.title }}
            <span class="uk-article-meta"> 
                <time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.locale_date }}</time>
            </span>
        </a>
        <br/>
        <span class="uk-article-lead" itemprop="description">
            {% if article.summary %}{{ article.summary}}{% else %}{{ ' '.join(article.content.split(' ')[0:20])|striptags }}...{% endif %}
        </span>
    </article>
    {% endfor %}

</div>
{% endblock %}



